body {
  background: #b3b3b3;
  color: white;
}

/* LOGIN PAGE */
.container-login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.singup {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}

.card-login,
.card-login form{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 500px;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
  background: #e3e3e3;
  /* box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe; */
  border-radius: 8px;
}

.inputBox,
.inputBox1 {
  position: relative;
  width: 360px;
}

.inputBox input,
.inputBox1 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox label,
.inputBox1 label {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid ~ label,
.inputBox input:focus ~ label {
  transform: translateX(220px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox1 input:valid ~ label,
.inputBox1 input:focus ~ label {
  transform: translateX(220px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 3em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* uyarılar */
.feedback{
  visibility: hidden;
  color: red;
}

/* Bu CSS kodu, .is-invalid sınıfını içeren bir öğenin hemen sonrasındaki
herhangi bir .feedback sınıfını seçecektir. + kullansaydık aradaki label'ı da seçiyordu */
div .is-invalid ~ .feedback{
  visibility: visible;
}

/* ~ Bu, belirli bir sıraya veya aradaki diğer öğelere bakmaksızın hedefi seçmenizi sağlar. */
/* + Bu, belirtilen öğeden hemen sonra gelen ilk kardeş öğeyi seçer. */